<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_secure_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Acitivity.OrderConfirm"></activity>
        <activity android:name=".Acitivity.Cart" />
        <activity android:name=".Acitivity.FoodItemList" />
        <activity android:name=".Acitivity.Welcome" />
        <activity android:name=".Acitivity.Otp" />
        <activity android:name=".Acitivity.ForgetPassword" />
        <activity android:name=".Acitivity.Register" />
        <activity android:name=".Acitivity.MainActivity" />
        <activity android:name=".Acitivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>